@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: #0E1218;
    color: white;
    text-align: center;
}

:root{
    --paddign: 10px 10px 10px 10px;
}

header{
    background-color: #1A1F25;
    padding: 10px;
}

h1{
    margin: 0px;
    font-family: sans-serif;
    font-weight: lighter;
}

p{
    margin: 0px;
    padding: 10px;
    line-height: 2em;
}

#martelo{
    max-width: 100px;
    margin: 30px;
}

a{
    padding: 0px 10px 0px 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.25s;
}

nav img{
    width: 17px;
}

#github:hover{
    border-radius: 10px;
    background-color: darkslategray;
    padding: var(--paddign);
}

#instagram:hover{
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #f80053, #f87000);
    padding: var(--paddign);
}

#twitter:hover{
    border-radius: 10px;
    background-color: lightseagreen;
    padding: var(--paddign);
}